@use '../variables/colors' as *;
@use '../variables/typography' as *;

nav{
    ul{
        align-items: center;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    a{
        color: $text-color;
        text-decoration: none;
        transition: color 0.25s ease-in-out;

        &:hover, &:focus{
            color: $action-color;
        }

    }
}