@use '../variables' as *;

nav {
	padding: 10px;

	img {
		width: 80px;
	}
	ul {
		align-items: center;
		display: flex;
		justify-content: space-around;
		list-style: none;
	}
	a {
		color: $text-color;
		text-decoration: none;
		transition: color 0.25s ease-in-out;

		&:hover,
		&:focus {
			color: $action-color;
		}
	}
}
