@use 'variables' as *;
@use 'components' as *;


// @use 'components';

*{
    box-sizing: border-box;
    margin: 0;

    &:focus{
        border: 3px solid $action-color;
    }
}

body{
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    text-align: center;
    background-color: $primary-color;
    // margin-top: 100px;
}

h1, h2{
    color: $action-color;
}

header{
    align-items: center;
    background-color: $accent-color;
    display: grid;
    grid-template-columns: 1fr 10fr;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    img {
		width: 80px;
	}
}

section{
    padding: 120px 0 40px 0;
    margin-top: -100px;
}

#hero{
    margin-top: 0;
}

#about p{
    width: 80%;
    margin: auto;
    max-width: 800px;
}

.service-container{
    display: flex;
    justify-content: space-evenly;

    article{
        width: 30%;
        max-width: 500px;
    }
}

#contact{
    label, input, textarea{
        display: block;
        margin: auto;
        width: 80%;
        max-width: 1000px;
    }
}